* {
    margin: 0;
    padding: 0;
}

html, body{
    width: 100%;
    font-family: Arial;
}

.products {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 1920px;
    height: 694px;
    margin: 0 auto;
    background-color: #F6F6F6;
}

.title {
    font-weight: 900;
    font-size: 48px;
    line-height: 72px;
    text-transform: uppercase;
}

.products__title {
    margin-top: 40px;
}

.products__cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1180px;
    height: 482px;
    margin-top: 40px;
}

.products__card {
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 380px;
    height: 100%;
    overflow: hidden;
    border-radius: 12px;
    color: #2F2F2F;
    background: #FFFFFF;
    box-shadow: 0px 0px 45px -4px rgba(0, 0, 0, 0.18);
}

.tags {
    display: flex;
    justify-content: space-between;
    position: absolute;
    left: 16px;
    top: 16px;
    width: 263px;
    height: 25.33px;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
}

.tags_hidden {
    display: none;
}

.tag__new {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 111px;
    height: 25px;
    border-radius: 8px;
    background: #FDCFF3;
}

.tag__last {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 136px;
    height: 25px;
    border-radius: 8px;
    background: #FFCF56;
}

.card__heading {
    margin: 24px 24px 0;
    font-weight: 900;
    font-size: 24px;
    line-height: 36px;
    color: #2F2F2F;
}

.card__description {
    margin: 16px 24px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    color: #2F2F2F;
}

.button {
    width: 332px;
    height: 48px;
    box-sizing: border-box;
    border-radius: 8px;
    font-weight: 900;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.card__button {
    position: absolute;
    left: 50%;
    bottom: 24px;
    transform: translateX(-50%);
}

.button_default {
    border: 2px solid #42940F;
    color: #42940F;
    background-color: transparent;
    cursor: pointer;
}

.button_disabled {
    border: 1px solid #4E4E4E;
    color: #FFFFFF;
    background-color: #4E4E4E;
}

.button_default:hover {
    color: #FFFFFF;
    background-color: #42940F;
}

.button_default:active {
    background-color: #1F5200;
}

@media (max-width: 480px) {
    .products {
        width: 90%;
    }
    .products__title {
        text-align: center;
    }
    .products__cards{
        justify-content: center;
    }
}

@media (max-width: 320px) {
    .tags {
        width: 240px;
        left: 10px;
    }
    .tag__new {
        width: 100px;
    }
    .tag__last {
        width: 120px;
    }
    .button {
        width: 235px;
    }
}